<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {#CDN BOOTSTRAP#}
       

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{{ asset('CSS/style.css')}} ">
           {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Formation Symfony</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                        <a class="nav-link active" href="{{ path('home')}}">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Mon compte</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Créer mon compte</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Identifiez-vous</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Affichage des cours</a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Langages</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">PHP</a>
                            <a class="dropdown-item" href="#">MySQL</a>
                            <a class="dropdown-item" href="#">Configuration XAMPP/Laragon</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Divers</a>
                        </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Rechercher">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>
                </div>
            </div>
        </nav>
        <main class="container-fluid conteneur-base">
        {% block body %} {#Entre 2 balises nous recevrons le contenu de nos différentes pages qui étendent de ce template #}
        {% endblock %}
        </main>

        <footer class"bg-primary text-center">
        &copy; 2022 10MENTION WEB
        </footer>

{# JS de BOOTSTRAP #}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>




